@page "/product/{id:int}"
@inject IProductService ProductService
@inject ICartService1 CartService1
@inject IWishlistService WishlistService
@inject ILocalStorageService LocalStorage
@inject IToastService ToastService

@if (product == null)
{
    //Displays message product is null. ie. not found or doesn't exist
    <span>@message</span>
}
else
{
    //displays the product on the page
    <div class="media">
        <div class="media-img-wrapper mr-2">
            <img class="media-img" src="@product.ImageUrl" alt="@product.Title" />
        </div>
        <div class="media-body">
            <h2 class="mb-0">@product.Title</h2>
            <p>@product.Description</p>
            <h4 class="price">
                $@product.Price
            </h4>
            <button class="btn btn-twitter">
                <a href="https://twitter.com/intent/tweet?text=@tweetText" class="twitter-share-button">Share Tweet</a>
            </button>
            <button class="btn btn-primary" @onclick="AddToCart">
                <i class="oi oi-cart"></i>&nbsp;&nbsp;&nbsp;Add to Cart
            </button>
            <button class="btn btn-primary" @onclick="AddToWishlist">
                <i class="oi oi-book"></i>&nbsp;&nbsp;&nbsp;Add to Wishlist
            </button>
        </div>
    </div>
}

@code {
    private Product product = null;
    private string message;
    private string tweetText;

    [Parameter]
    public int Id { get; set; }

    //Products are Loaded from Product Service
    protected override async Task OnParametersSetAsync()
    {
        message = "Loading Product...";

        var result = await ProductService.GetProductById(Id);
        if (!result.Success)
        {
            message = result.Message;
        }
        else
        {
            product = result.Data;
            tweetText = $"Just read this book, really great experience. Strongly recommend. {product.Title}";
        }
    }

    private async Task AddToCart()
    {
        await CartService1.AddToCart(product);
    }

    private async Task AddToWishlist()
    {
        await WishlistService.AddToWishlist(product);
    }
}
